/* .backgroundComp{

    background:#2e2e2e;
    height: 100%;
    position: fixed;
    width: 100%;
    text-align: center;

} */
.row{
  margin-bottom: 20px;
}

.inputClass{
  height: 40px;
}
.addAlgo-container{
  display: flex;
  flex-direction: column;
  background: #2e2e2e;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
}
.mainTitle {
    color: white;
    margin-bottom: 60px;
    font-size: xxx-large;
  }


  .columnLeftAddAlgo{
    float: left;
    width: 33.3%;
    height: 100%;
  }
  .columnRightAddAlgo{
    float: left;
    width: 66.7%;
    height: 100%;
  }


.fields{
    height: 70%;
}


.paramsButton{
    width: 20%;
    border-radius: 15px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 40px;

}

.checkboxLeft{
    color: white;
    float: left;
}

.checkboxRight{
    color: white;
    float: left;
}

.submitButton{
  margin-top: 30px;
}