.backgroundComp{
    background:#2e2e2e;
    height: 100%;
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mainTitle {
    color: white;
    margin-bottom: 10px;
    font-size: xxx-large;
  }

.back_button{
    float: left;
}

.fields{
    margin-left: 42%;
}

.shortInput{

}
.fieldTitle{
    color: white;
    font-size: large;
}
.longInput{

}
.add_button{

}