.add_modal_background{
    width: 50vw;
    height: 10vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    bottom: 300px;
    margin-left: 500px;
}

.add_modal_container{
    position:absolute;
    display: flex;
    width: 100%;
    top: 20px;
    background-color: #ffffff;
    z-index: 2;
    width: 1000px;
    height: 500px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    
}


.add_title_close_button{
    display: flex;
    justify-content: flex-end;
}

.add_close_modal{
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(221, 220, 220);
    border-radius: 8px;
    border-width: 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add_title{
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 50px;
}

.name_title, .desc_title, .types_title, .actions_title, .name, .desc, .types{
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.edit_button{
    margin-right: 5px;
}

.param_in_modal{
    display: flex;
    flex-direction: row;
}

.table_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.add_parameters_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_name, .p_desc{
    display: flex;
    margin-right: 100px;
}

.new_param{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.name_input{
    width: 50px;
    margin-right: 10px;
}

.desc_input{
    margin-right: 10px;
}

.types_input{
    margin-left: 20px;
}

.add_add_button{
    margin-left: 10px;
}

.add_save_button_container{
    margin-top: 100px;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 15px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
