.HomePage{
    display: flex; 
    flex-direction: column;
    height: 100%;
    width:100% ; 
}

.homepage_container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePageTitle{
    font-family: Arial, Helvetica, sans-serif;
}

.add_alg_button, .run_alg_button{
    width: 200px;
    margin-bottom: 10px;
}