.resultsPage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2e2e2e;
    height: 100%;
    position: fixed;
    width: 100%;
    overflow:auto;
}

.back_button{
    align-self: flex-start;
}

.output-title{
    margin-bottom: 10px;
    margin-top: 40px;
}

.times_button{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
}

.white-font{
    color: white;
}

.additional-options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;

}

.filterInput{
    margin-bottom: 10px;
    height: 40px;
    align-self: flex-end;
}

.options-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.csvButton{
    align-self: flex-end;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

.csvButton:hover{
    background-color: green;
    color: white
}